APP_NAME=V-TOPUP-STORE
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://vtopup-api.example.com

LOG_CHANNEL=stack
LOG_LEVEL=info

# Database Connection (MongoDB Atlas)
DB_CONNECTION=mongodb
DB_URI=mongodb+srv://user:pass@cluster.mongodb.net/v-topup?retryWrites=true&w=majority
DB_DATABASE=v-topup
DB_MAX_POOL_SIZE=100
DB_MIN_POOL_SIZE=10

# Redis Cache, Session, and Queue configuration
CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_DOMAIN=.example.com

# Redis Connection details (linking to internal container)
REDIS_HOST=redis
REDIS_PASSWORD=SecretRedisProductionPass2026!
REDIS_PORT=6379

# Sanctum Production CORS Config
SANCTUM_STATEFUL_DOMAINS=v-topup-frontend.vercel.app
CORS_ALLOWED_ORIGINS=https://v-topup-frontend.vercel.app

# Telegram Notifications Bot Info
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=

# KHQR Payment Gateway Config
KHQR_PROVIDER=khqr_link
KHQR_API_BASE_URL=https://api.khqr.link
KHQR_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7ImlkIjoiM2E4YmMxMTJkODIxNDA4MCJ9LCJpYXQiOjE3NzkzNTQyNDIsImV4cCI6MTc4NzEzMDI0Mn0.Cnez9HtpJUTLIJ_KRMizrhEy1892f7CJLINnqvajMkY
KHQR_BAKONG_ACCOUNT_ID=vuthy_reaksa@bkrt
KHQR_ACCOUNT_NAME="V-STORE-TOPUP"
KHQR_MERCHANT_CITY="PHNOM PENH"
KHQR_CURRENCY=USD

# G2Bulk Wholesaler API
G2BULK_API_KEY=5fdcdd6b1a6d04645af01f89d21cd68a55b839ae8b36308f1ccab8f6cf982bfe

